doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/custom.css')
    link(rel='stylesheet', href='/css/bootstrap-datepicker3.standalone.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datepicker3.min.css')
    link(href='http://fonts.googleapis.com/css?family=Archivo+Narrow', rel='stylesheet', type='text/css')
  body
block content
